.text-light{
	color:#FFF9FB !important;
}

.text-dark{
	color:#2E2E3A !important;
}

.headings{
	color:#4B88A2 !important;
}

.headings2{
	color:#BB0A21 !important;
}

.links-kirt{
	color:#BB0A21 !important;
}