body
{
	background-color: #fff1e0;
	font-family: "Trebuchet MS";
}
div.primDiv
{
	background-color: #dbd2c7;
	width: 100%;
}

div.leftBar
{
	background-color: #dbd2c7;
	width: 50%;
	text-align: left;
	float: left;
}

div.rightBar
{
	background-color: #dbd2c7;
	width: 50%;
	text-align: right;
	float: right;
}

h1.primaryHeader
{
	text-align: center;
}
h2.subHeader
{
	text-align: center;
}

button.linkbutton
{
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px; 
    color: #261d00;
	background-color: #a8e0d3
}
button.linkbutton:hover
{
	background-color: #7ea89e
}

p.centeredElem
{
	text-align: center;
}

canvas.homePageCanvas
{
	width: 100%;
}